.list-group {
    position: absolute;
    left: 23%;
    width: 800px;
}
.list-group-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-group-item span {
    cursor: pointer;
}
.list-group-item .form-group {
    margin-bottom: 0;
}
.list-group-item .form-group .btn {
    min-width: 40px;
    margin: 0 3px;
}
